:root {
  --main-bg: #b2dbd5;
  --main-dark: #2b616d;
  --card-bg: #ffffff;
  --heading-font: SamimBold, sans-serif;
  --light-border: rgba(216, 216, 216, 0.7);
  --main-font: Vazir, sans-serif;
  --footer-height: 75px;
  --text-light: rgba(0, 0, 0, 0.3);
  --sharp: #fa8d62;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-blur: 15px;
}

/* font-Samim */
@font-face {
  font-family: SamimBold;
  src: url('https://fonts.codearena.ir/rastikerdar/samim/samim-bold.eot');
  src: url('https://fonts.codearena.ir/rastikerdar/samim/samim-bold.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.codearena.ir/rastikerdar/samim/samim-bold.woff')
      format('woff'),
    url('https://fonts.codearena.ir/rastikerdar/samim/samim-bold.ttf')
      format('truetype');
  font-weight: normal;
}

/* font-Vazir */
@font-face {
  font-family: Vazir;
  src: url('https://fonts.codearena.ir/rastikerdar/vazir/vazir.eot');
  src: url('https://fonts.codearena.ir/rastikerdar/vazir/vazir.eot?#iefix')
      format('embedded-opentype'),
    url('https://fonts.codearena.ir/rastikerdar/vazir/vazir.woff')
      format('woff'),
    url('https://fonts.codearena.ir/rastikerdar/vazir/vazir.ttf')
      format('truetype');
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--main-bg);
  min-height: 100%;
  font-family: var(--main-font);
  font-display: swap;
}

body {
  padding: 40px 10px;
}
#__next {
  min-height: 80vh;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  text-align: right;
  min-width: 250px;
}

p {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.full-page-centered {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: 0.8rem;
}

.error {
  align-self: center;
  color: #e4584c;
  margin-top: 10px;
}

.result {
  color: #666ee8;
}

.small-link {
  color: var(--text-light);
  font-size: 0.8rem;
}

.small-link:hover {
  text-decoration: none;
  color: var(--sharp);
}
