.cardContainer {
  min-height: 400px;
  min-width: 70%;
  border: 10px rgba(0, 0, 0, 0.15) solid;
  background-color: white;
  -webkit-box-shadow: -1px 2px 53px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 53px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 2px 53px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  text-overflow: ellipsis;
  color: var(--text-light);
}
