.container {
  align-self: stretch;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 5vw;
  color: var(--main-dark) !important;
  border: solid 1px var(--main-dark);
  border-radius: 0;
}

.container input {
  text-align: left;
  display: inline-block;
  margin: 0 2vw;
  align-self: stretch;
  /* max-width: 600px; */
  word-wrap: break-word;
  border: solid 1px var(--text-light);
  background-color: rgb(97, 97, 97);
  color: white;
}

.button {
  text-align: center;
  margin-top: 50px;
  background-color: var(--sharp);
  color: white !important;
  border: solid 1px var(--sharp);
  min-height: 45px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.25s;
  width: 100%;
  max-width: 300px;
  align-self: center;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--sharp);
  transform: translateY(-0.25em);
  background-color: transparent;
  color: var(--sharp) !important;
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  box-shadow: none;
  transform: none;
  background-color: var(--sharp);
  color: white;
}

.copyButton {
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--main-dark);
}

.copyButton:hover {
  text-decoration: none;
  color: var(--sharp);
}
