.container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  color: var(--main-dark) !important;
  border: solid 1px var(--light-border);
  border-radius: 5px;
  /* border-radius: 0; */
  /* -webkit-box-shadow: 0px 0px 5px 2px rgba(216, 216, 216, 0.3); */
  /* -moz-box-shadow: 0px 0px 5px 2px rgba(216, 216, 216, 0.3); */
  /* box-shadow: 0px 0px 15px 10px rgba(216, 216, 216, 0.4); */
  width: 100%;
  min-width: 200px;
  padding: 50px 3vw;
}

.container .priceTag {
  color: black;
  margin-top: 40px;
  align-self: flex-end;
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  border: solid 2px black;
}

.container .priceTag .price {
  min-width: 75px;
  flex: 1;
  padding: 0 10px;
}
.container .quantityContainer {
  text-align: center;
}

.button {
  margin-top: 50px;
  background-color: var(--sharp);
  color: white;
  border: solid 1px var(--sharp);
  min-height: 45px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.25s;
  width: 100%;
  max-width: 300px;
  align-self: center;
}

.button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--sharp);
  transform: translateY(-0.25em);
  background-color: transparent;
  color: var(--sharp);
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  box-shadow: none;
  transform: none;
  background-color: var(--sharp);
  color: white;
}

.disabledText {
  align-self: center;
  margin-top: 0.4rem;
  font-size: 0.7rem;
  color: var(--text-light);
}

.error {
  align-self: center;
  color: #e4584c;
  margin-top: 10px;
}

.result {
  color: #666ee8;
}
