.container {
  align-self: center;
  min-width: 100px;
  border-radius: 20px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: solid 1px var(--light-border);
  white-space: nowrap;
}

.container .button {
  height: 40px;
  margin: 0;
  padding: 0 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.container .button:focus {
  outline: none !important;
  border: 1px solid var(--light-border);
}

.container .quantity {
  background-color: transparent;
  margin: 0;
  width: 50px;
  height: 40px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  font-size: 0.8rem;
}

.container .quantity::-webkit-outer-spin-button,
.container .quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
