.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  color: var(--sharp);
  border: solid 1px var(--sharp);
  min-height: 45px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.25s;
  max-width: 300px;
}

.button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--sharp);
  transform: translateY(-0.25em);
  background-color: var(--sharp);
  color: white;
}

.alert {
  margin-top: 10px;
  font-size: 0.6rem;
  color: var(--text-light);
  text-align: center;
}
