.container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  text-align: center;
  min-width: 200px;
}

.titr {
  line-height: 2;
  color: var(--main-dark);
}
