.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label label {
  /* margin: 0; */
  margin-bottom: 10px;
  color: var(--text-light);
}

.formRow {
  margin-bottom: 20px;
}

.formRow input {
  direction: ltr !important;
}

.formRow input::placeholder {
  color: var(--text-light);
  font-size: 0.8rem;
}
