.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label label {
  /* margin: 0; */
  margin-bottom: 10px;
  color: var(--text-light);
}

.formRow {
  margin-bottom: 20px;
}
